
  <h1><%= @my_thread.title %></h1>
  <div><%= @my_thread.body %></div>
  <%= link_to '[戻る]', my_threads_path %>
  <%= link_to '[編集]', edit_my_thread_path(@my_thread.id) %>
  <%= link_to '[削除]', my_thread_path(@my_thread.id), method: :delete, data: { confirm: '削除しますか？' } %>
  <h2>Comments</h2>

  <ul>
  <% @my_thread.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <%= link_to '[編集]', edit_comment_path(comment.id) %>
      <%= link_to '[削除]', comment_path(comment.id), method: :delete, data: {confirm: '削除しますか？'} %>
    </li>
  <% end %>
  </ul>

  <p>Post your comment</p>
  <%= form_for [@my_thread, @my_thread.comments.build] do |f| %>
    <%= f.hidden_field :user_id, value: 1 %>
    <%= f.text_area :body %>
    <%= f.submit %>
  <% end %>
